<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Stream</title>
    
    <style>
        .active-button {
            background-color: red;
            color: white;
        }
        button {
            margin: 5px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: lightgray;
        }

    </style>
    
    
    <script>
        // Função para mudar a câmera
        function changeCamera(index) {
            // Armazena o índice da câmera selecionada no localStorage
            localStorage.setItem('selected_camera', index);
    
            // Remove a classe 'active-button' de todos os botões
            document.querySelectorAll('button').forEach(button => {
                button.classList.remove('active-button');
            });
    
            // Adiciona a classe 'active-button' ao botão clicado
            event.target.classList.add('active-button');
            
            fetch('/change_camera', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ camera_index: index }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    console.log("Câmera trocada para índice: " + index);
                    window.location.reload(); // Força o refresh da página
                } else {
                    console.error("Erro ao trocar de câmera.");
                }
            })
            .catch((error) => {
                console.error('Erro:', error);
            });
        }
    
        // Função para aplicar a classe active-button ao botão selecionado
        function applySelectedCamera() {
            const selectedIndex = localStorage.getItem('selected_camera');
            if (selectedIndex !== null) {
                // Aplica a classe 'active-button' ao botão correspondente
                document.querySelector(`button[data-index='${selectedIndex}']`).classList.add('active-button');
            }
        }
    
        // Aplica a classe active-button ao botão selecionado quando a página é carregada
        window.addEventListener('DOMContentLoaded', (event) => {
            applySelectedCamera();
        });

       // Função para alternar a rotação da imagem
       function toggleRotateImage(cameraIndex) {
            fetch('/rotate_image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ camera_index: cameraIndex }),  // Passa o índice da câmera
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    console.log("Imagem rotacionada: " + data.rotate);
                    window.location.reload(); // Recarrega a página para aplicar a rotação
                } else {
                    console.error("Erro ao alternar rotação.");
                }
            })
            .catch((error) => {
                console.error('Erro:', error);
            });
        }

    </script>
    
    
</head>
<body>
    <!-- Video Stream -->
    <img style="max-width: 640px; max-height: 480px; width: 100%;" src="{{ url_for('video_feed') }}">

    <!-- Renderizando os botões dinamicamente -->
    
    <div>
        {% for camera in cameras %}
            <button data-index="{{ loop.index0 }}" onclick="changeCamera({{ loop.index0 }})"> {{ loop.index0 }}</button>
        {% endfor %}
    </div>


  
    <!-- Botão para alternar a rotação da imagem -->
    <button onclick="toggleRotateImage({{ current_camera }})">Rotacionar 180°</button>

    <!-- <p>v4l2-ctl --list-devices</p> -->
</body>
</html>

